<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Repostería Patri</title>
    </head>
    <body>
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarUsuario">
                            <i class="bi bi-person-plus"></i> [[#{usuario.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

<section th:fragment="agregarUsuario">
    <div id="agregarUsuario" 
         class="modal fade" 
         tabindex="-1" 
         aria-labelledby="exampleModalLabel" 
         aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title">[[#{usuario.agregar}]]</h5>
                    <button type="button" 
                            class="btn-close" 
                            data-bs-dismiss="modal" 
                            aria-label="Close"></button>
                </div> 
                <form th:action="@{/usuario/guardar}" th:object="${usuario}"
                      method="POST" class="was-validated"
                      enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="nombre">[[#{contacto.nombre}]]</label>
                            <input type="text" class="form-control" name="nombre" required="true"/>
                        </div>
                        <div class="mb-3">
                            <label for="apellidos">[[#{contacto.apellido}]]</label>
                            <input type="text" class="form-control" name="apellidos" required="true"/>
                        </div>
                        <div class="mb-3">
                            <label for="username">[[#{contacto.usuario}]]</label>
                            <input type="text" class="form-control" name="username" required="true"/>
                        </div>
                        <div class="mb-3">
                            <label for="password">[[#{usuario.password}]]</label>
                            <input type="password" class="form-control" name="password" required="true"/>
                        </div>
                        <div class="mb-3">
                            <label for="email">[[#{contacto.correo}]]</label>
                            <input type="email" class="form-control" name="correo" required="true"/>
                        </div>
                        <div class="mb-3">
                            <label for="telefono">[[#{contacto.telefono}]]</label>
                            <input type="tel" class="form-control" name="telefono"/>
                        </div>
                        <!-- Campo para la imagen -->
                        <div class="mb-3">
                            <label for="imagenFile">[[#{usuario.imagen}]]</label>
                            <input class="form-control" type="file" name="imagenFile" accept="image/*" onchange="readURL(this);" />
                            <img id="blah" src="#" alt="your image" height="200" style="display: none;"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">[[#{producto.guardar}]]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


        <!-- 3 Sección principal para mostrar la informaccion de la entidad usuario -->
        <section th:fragment="listadoUsuarios" id="usuarios">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{usuario.listado}]]</h4></div>
                            <div th:if="${usuarios != null and !usuarios.empty}">
                    <table class="table table-stryped" style="border-collapse: separate; border-spacing: 0 10px;">
                        <thead>
                            <tr>
                                <th style="background-color: #f8c1d4; color: #fff; padding: 10px; text-align: left;">#</th>
                                <th style="background-color: #f8c1d4; color: #fff; padding: 10px; text-align: left;">[[#{contacto.usuario}]]</th>
                                <th style="background-color: #f8c1d4; color: #fff; padding: 10px; text-align: left;">[[#{contacto.nombre}]]</th>
                                <th style="background-color: #f8c1d4; color: #fff; padding: 10px; text-align: left;">[[#{contacto.apellido}]]</th>
                                <th style="background-color: #f8c1d4; color: #fff; padding: 10px; text-align: left;">[[#{contacto.correo}]]</th>
                                <th style="background-color: #f8c1d4; color: #fff; padding: 10px; text-align: left;">[[#{contacto.telefono}]]</th>
                                <th style="background-color: #f8c1d4; color: #fff; padding: 10px; text-align: left;"></th>
                                <th style="background-color: #f8c1d4; color: #fff; padding: 10px; text-align: left;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="usuario, contador : ${usuarios}">
                                <td style="padding: 10px; background-color: #fff; border-radius: 5px;">[[${contador.count}]]</td>
                                <td style="padding: 10px; background-color: #fff; border-radius: 5px;">[[${usuario.username}]]</td>
                                <td style="padding: 10px; background-color: #fff; border-radius: 5px;">[[${usuario.nombre}]]</td>
                                <td style="padding: 10px; background-color: #fff; border-radius: 5px;">[[${usuario.apellidos}]]</td>
                                <td style="padding: 10px; background-color: #fff; border-radius: 5px;">[[${usuario.correo}]]</td>
                                <td style="padding: 10px; background-color: #fff; border-radius: 5px;">[[${usuario.telefono}]]</td>
                                <td>
                                    <a th:href="@{/usuario/eliminar/}+${usuario.idUsuario}" class="btn btn-danger" style="background-color: #f08080; border-color: #f08080;">
                                        <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                                    </a>
                                </td>
                       
                            </tr>
                        </tbody>
                    </table>
                </div>
                            <div class="text-center p-2" th:if="${usuarios == null or usuarios.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center mb-3" style="background-color: #264653; color: #fff;">
                            <div class="card-body">
                                <h3>[[#{usuario.total}]]</h3>
                                <h4 class="fs-2"><i class="fas fa-users"></i> [[${totalUsuarios}]]</h4>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </section>

<!-- Fragmento modificado para la página modifca.html -->
      <!-- Fragmento para editar usuario -->
        <section th:fragment="editarUsuario">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/usuario/guardar}" th:object="${usuario}"
                          class="was-validated"
                          enctype="multipart/form-data">
                        <input type="hidden" name="idUsuario" th:field="*{idUsuario}"/>
                        
                        <!-- Fragmento de botones de editar -->

                        <div id="details">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="username">[[#{usuario.username}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="username" th:field="*{username}"
                                                           required="true" readonly />
                                                </div>
                                                <div class="mb-3">
                                                    <label for="nombre">[[#{usuario.nombre}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="nombre" th:field="*{nombre}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="apellidos">[[#{usuario.apellidos}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="apellidos" th:field="*{apellidos}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="email">[[#{usuario.correo}]]</label>
                                                    <input type="email" class="form-control" 
                                                           name="correo" th:field="*{correo}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="telefono">[[#{usuario.telefono}]]</label>
                                                    <input type="tel" class="form-control" 
                                                           name="telefono" th:field="*{telefono}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="password">[[#{usuario.password}]]</label>
                                                    <input type="password" class="form-control" 
                                                           name="password" th:field="*{password}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imagen">[[#{usuario.imagen}]]</label>
                                                    <input class="form-control" type="file" name="imagenFile"
                                                           accept="image/jpeg"
                                                           onchange="readURL(this);" />
                                                    <img id="blah" th:src="@{${usuario.rutaImagen}}" alt="your image" height="200"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



 <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/usuario/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid" sec:authorize="hasRole('ROLE_ADMIN')">                                
                        <a th:href="@{/usuario/eliminar/}+${usuario.idUsuario}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid" sec:authorize="hasRole('ROLE_ADMIN')">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>