<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Repostería Patri</title>
        <meta charset="UTF-8"/>                
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <section th:replace="~{layout/plantilla :: carrusel}"/>
        <section th:replace="~{layout/plantilla :: titulo-producto}"/>
        <section th:replace="~{productos/fragmentos :: postres}"/>

        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
